body {
    
  font-family: 'Quantico', sans-serif;
  }
  #home{
    width: 100%;
    height: 100%;
    margin-top: -8px;
  }
  nav { 
    position: sticky;
    top:0 ;
    left: 0;
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 20% auto 20%;
  }
  .msc{
    background-color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 20px 0 0 40px;
  }
  .about{
    background-color: #C3A28C;
    text-decoration: none;
    padding: 20px 0 0 40px;
    font-size: 18px;
    color: white;
  }
  

  #home_bg img{
    width: 100%;
    height: 100%;
    margin: auto;
  }

  /* ============================================== */
