body {
    
  font-family: 'Quantico', sans-serif;
  }
  #home{
    width: 100%;
    height: 100%;
    
  }
  nav { 
    position: sticky;
    top: 0;
    left: 0;
    margin-top: -8px;
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 20% auto 20%;
  }
  .msc{
    background-color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 0 0 40px;
  }
  .aboutTxt{
    background-color: #C3A28C;
    text-decoration: none;
    padding: 15px 0 0 40px;
    font-size: 18px;
    color: white;
  }
  

  #home_bg img{
    width: 100%;
    height: 100%;
    margin: auto;
    padding-bottom: 30px;
  }
  hr{
    width: 50%;
    color: #C3A28C;
    height: 3px;
    border: none;
    background-color: #C3A28C;
  }
  /* ============================================== */
  #about{
    width: 100%;
    display: grid;
    grid-template-columns: 25% 65% auto;
    padding: 80px 0px 40px 40px;
  }
  #about h1{
    font-size: 60px;
    margin-left: 55px;
    margin-top: 0;
  }
  #about h6{
    font-size: 10px;
    text-align: center;
    color: #A49999;
    font-style: italic;
    margin-top: 0;
    font-weight: lighter;
  }
 #about video{
   width: 100%;
   margin-top: 20px;
   /* margin-bottom: 20px; */
 }
 #about .srs_text{
   margin-top: 120px;
    padding: 0px 0 0 20px;
    font-size: 20px;
    color: #C49D83;
    border-left: 8px solid #C3A28C;
 }
 #about .btn_text{
    padding-top: 15px;
 }
 #about .apkBtn{
   float: right;
   border: 1px solid #8E8B8B;
   border-radius: 50px;
   padding: 10px 20px 10px 20px;
   color: #8E8B8B;
   font-weight: lighter;
   font-style: italic;
   font-size: 14px;
   cursor: pointer;
 }
 #about .pcBtn{
   margin-left: 20px;
   color: #8E8B8B;
   font-weight: lighter;
   font-size: 14px;
   cursor: pointer;
 }
 

 /* ======================================= */

 .gallery{
   overflow-y: hidden;
   overflow-x: scroll;
   height: 400px;
   flex-wrap: nowrap;
   width: 100%;
   display: flex;
   column-gap: 25px;
   margin-top: 20px;
 }

body::-webkit-scrollbar{
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.gallery {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: 5px;  /* Firefox */
}

/* ============== */
.footer{
  height: 20px;
  background-color: #C3A28C;
  width: 100%;
  margin-top: 50px;
  margin-bottom: -8px;
}


 /* @media (min-width:760px) {
  
 } */